body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 70vw;
  height: 70vh;
  background-color: orange;
  justify-content: center;
  align-items: center;
}

.box {
  font-weight: bold;
}
.question-button {
  display: grid;
  border-radius: 5px;
  padding: 5px 10px;
  gap: 10px;
  margin: 20px 0;
}
.btn {
  border-radius: 50px;
  padding: 20px;
  background-color: aliceblue;
}

.sub-button {
  padding: 50px;
}

.hide {
  display: none;
}
